.nav-bar {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 20px 0px;
}

.nav-bar__list {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
}

.nav-bar__column {
  margin: 0px 20px;
}

.nav-bar__column-menu {
  margin-left: 20px;
}
